---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For the most updated list of my publications, please refer to my <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs = site.publications | sort: 'date' | reverse %}

{% comment %} Count preprints (category: preprint or pubtype: preprint) {% endcomment %}
{% assign preprint_count = 0 %}
{% for post in pubs %}
  {% if post.category == 'preprint' or post.pubtype == 'preprint' %}
    {% assign preprint_count = preprint_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if preprint_count > 0 %}
  <h2>Preprints</h2><hr />
  {% for post in pubs %}
    {% if post.category == 'preprint' or post.pubtype == 'preprint' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endif %}

{% comment %} Remaining publications grouped by year (newest first) {% endcomment %}
{% assign current_year = "" %}
{% for post in pubs %}
  {% unless post.category == 'preprint' or post.pubtype == 'preprint' %}
    {% assign y = post.date | date: "%Y" %}
    {% if y != current_year %}
      <h2>{{ y }}</h2><hr />
      {% assign current_year = y %}
    {% endif %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}
